.card__button_type_like{
    margin-right: 18px;
    height: 19px;
    width: 21px;
    background:none;
    border:none;
    background-image: url(../../../../images/heart-vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
}



.card__button_type_like:hover{
    opacity:0.5;
}
