.popup__input{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    max-width:358px;
    border:none;
    border-bottom: 1px solid #000000;
    margin-left: 36px;
    
}

.popup__input:active{
    border:none;
    border-bottom: 1px solid #000000;
}