.profile__button_type_edit{
    display: flex;
    width:24px;
    height: 24px;
    border:solid 1px white;
    background-color: black;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 9px;
    background-image: url(../../../../images/edit-vector.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    
}

.profile__button_type_edit:hover{
    opacity:0.6;
}

@media screen and (max-width:767px) {
 .profile__button_type_edit{
     width:18px;
     height: 18px;
     margin-bottom: 3px;
    
 }   
}
