.card__description{
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin:25px 18px 25px 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}