.image-popup__button{
    position: absolute;
    top:-40px;
    right: -40px;
    border:none;
    height: 48px;
    width: 48px;
    background: none;
    padding: 0;
    background-image: url(../../../images/x-vec.svg);
    background-position: center;
    }

    .image-popup__button:hover{
        opacity: 0.6;
    }

    @media screen and (max-width:767px) {
        .image-popup__button{
            height: 26px;
            width: 26px;
            right:0px;
            top:-30px;
        }
    }