.button_exit{
    position: absolute;
    top: -40px;
    right: -30px;
    background-color: rgba(0, 0,0,0);
    border:none;
    max-height: 48px;
    max-width: 48px;
    object-fit: contain;
    padding: 0;
    }

    @media screen and (max-width:767px) {
        .button_exit{
            max-height: 34px;
            max-width: 34px;
            right:18px;
            top:-30px;
        }
    }