.button_exit{
    position: absolute;
    top: -40px;
    right: -30px;
    border:none;
    height: 48px;
    width: 48px;
    background: none;
    padding: 0;
    background-image: url(../../../images/x-vec.svg);
    background-position: center;
    }

    @media screen and (max-width:767px) {
        .button_exit{
            height: 26px;
            width: 26px;
            right:18px;
            top:-30px;
        }
    }