.popup__title{
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin:34px 0 0 36px;
    max-width: 330px;
    justify-self: flex-start;

}

@media screen and (max-width:767px){
  .popup__title{  
    margin-top: 25px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
    }

}